doctype html
html.no-js(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title DU Smash Ladder
    link(href='https://fonts.googleapis.com/css?family=Arvo:400,700', rel='stylesheet')
    link(rel='stylesheet', href='css/foundation-icons.css')
    link(rel='stylesheet', href='css/foundation.css')
    link(rel='stylesheet', href='css/app.css')
    script(src='/socket.io/socket.io.js')
    script.
      var admin;
      if('#{user}'){var currentUser = '#{user}';}
      window.onload = function(){if('#{admin}'){admin = ('#{admin}' == 'true');}
      if(admin){document.getElementById("admindiv").style.display="inline";}};
      var socket = io();
      function submitGame(){
      if(document.getElementsByName("tournament?")[0].value == "yes" && '#{admin}' != 'true'){alert('Please allow admins to report tournament matches'); return;}
      if(document.getElementById("playerTwo").value != "" && document.getElementById("playerOneWins").value != "" && document.getElementById("playerTwoWins").value != "" && document.getElementsByName("game")[0].value != "pickOne"){
      jsonToReturn = {};
      jsonToReturn['playerOne'] = currentUser
      if(admin){jsonToReturn['playerOne'] = document.getElementById("playerOne").value;}
      jsonToReturn['playerTwo'] = document.getElementById("playerTwo").value;
      jsonToReturn['game'] = document.getElementsByName("game")[0].value
      jsonToReturn['playerOneGamesWon'] = document.getElementById("playerOneWins").value;
      jsonToReturn['playerTwoGamesWon'] = document.getElementById("playerTwoWins").value;
      jsonToReturn['event'] = document.getElementById("eventName").value;
      socket.emit('report', jsonToReturn);
      }
      else{
      alert('Please fill in all the fields');
      }
      }
      socket.on('report', function(data){
      if(data['status']){
      alert("Match reported successfully");
      }
      else if(data['reason'] == 'playerDoesNotExist'){
      alert("Player " + data['playerName'] + " does not exist");
      }
      else if(data['reason'] == 'playerNotRegistered'){
      alert("Player " + data['playerName'] + " is not registered for " + document.getElementsByName("game")[0].value);
      }
      else if(data['reason'] == 'wrongPassword'){
      alert("Player " + data['playerName'] + " entered the wrong student ID");
      }
      else if(data['reason'] == 'error'){
      alert("There was an error reporting the match");
      }
      else{
      alert("Unknown Error");
      }});
  body
    include header
    h2#smash4.columns.small-12 Report Your Match
    form#smashform.columns.small-12.medium-10.medium-offset-1(action='', method='', enctype='')
      fieldset
        #admindiv(style='display:none;')
          label(for='eventName') Event name (leave blank for challenges):
          input#eventName(type='text', name='eventName', onkeypress='return event.keyCode!=13', placeholder="Enter Player One's username")
          br
          label(for='playerOne') Player One's username:
          input#playerOne(type='text', name='playerOne', onkeypress='return event.keyCode!=13', placeholder="Enter Player One's username")
          br
        label(for='playerTwo') Opponent's username:
        input#playerTwo(type='text', name='playerTwo', onkeypress='return event.keyCode!=13', placeholder="Enter Player Two's username")
        br
        .row
          .columns.medium-6
            label(for='playerOneWins') How many games did you win?
            input#playerOneWins(type='text', name='playerOneWins', onkeypress='return event.keyCode!=13', placeholder='Number of games you won')
            br
          .columns.medium-6
            label(for='playerTwoWins') How many games did your opponent win?
            input#playerTwoWins(type='text', name='playerTwoWins', onkeypress='return event.keyCode!=13', placeholder='Number of games your opponent won')
            br
          label(for='game') Which game was this in?
          select(name='game')
            option(value='pickOne') Choose One
            option(value='smashFour') Smash 4
            option(value='melee') Melee
            option(value='pm') Project M
          br
          label(for='tournament?') Is this a tournament game?
          select(name='tournament?')
            option(value='no') No
            option(value='yes') Yes
          br
          if (typeof(user) === 'undefined')
            input(type='button', value='Submit Game', onclick='alert(\'You must be logged in to perform this action\')')
          else
            input(type='button', value='Submit Game', onclick='submitGame()')
      include footer
    script(src='js/vendor/jquery.js')
    script(src='js/vendor/what-input.js')
    script(src='js/vendor/foundation.js')
    script(src='js/app.js')
